SECRET_KEY=django-insecure-change-this-key
DEBUG=True

DB_NAME=pagos
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# URL base del servicio de pedidos (Equipo 3)
ORDER_SERVICE_URL=http://localhost:8001

# Token opcional si el Order Service exige autenticación Bearer
ORDER_SERVICE_TOKEN=
